.header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0.5rem 1rem;
    z-index: 2;
}

.header__toggle {
    display: flex;
    justify-content: flex-end;
}

.header__brand .brand__logo {
    width: 3.25rem;
    height: 3.25rem;
}

#toggleTheme {
    font-size: 1.5rem;
    color: var(--primary-color);
    cursor: pointer;
    transition: ease-in-out .4s;
}

.menu {
    display: flex;
    align-items: center;
    z-index: 999;
    background: var(--primary-bg-color);
}

.menu__item {
    width: 100%;
}

.menu__link {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.menu--mobile {
    width: 100vw;
    position: fixed;
    bottom: 0;
    justify-content: space-between;
    border-top: 1px solid var(--primary-border-color);
}

.menu--mobile .menu__link {
    flex-direction: column;
    justify-content: center;
    padding: 0.5rem 1rem;
}

.menu__link.active .menu__icon,
.menu__link.active .menu__text,
.menu__link:hover .menu__icon,
.menu__link:hover .menu__text {
    color: var(--primary-color);
}

.menu__icon,
.menu__text {
    color: var(--text-color);
}

.menu__icon {
    font-size: 1.5rem;
}

.menu__text {
    font-size: .75rem;
    text-transform: uppercase;
}

.header__nav {
    display: none;
}

.menu--principal {
    gap: 1rem;
}

.menu--social {
    gap: 1rem;
}

main,
.projects,
.about,
.contact {
    padding: 2.5rem 1rem;
}

main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.main__content1 {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.technologies {
    padding: 20px 0;
    overflow: hidden;
    background-color: var(--primary-bg-color);
}

.technologies-scroller {
    display: flex;
    width: fit-content;
    animation: scroll-left 40s linear infinite;
}

.technologies__list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    flex-shrink: 0;
    gap: 2rem;
}

.technologies__item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 1.5em;
    color: var(--icon-color);
    min-width: 250px;
    flex-direction: row;
}

.technologies__item i {
    font-size: 2em;
    color: var(--primary-color);
}

.technologies__item span {
    font-size: 0.8em;
    font-weight: bold;
    text-transform: uppercase;
}

@keyframes scroll-left {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-50%);
    }
}

.projects {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.projects__container {
    display: flex;
    flex-direction: column;
    gap: 7rem;
}

.projects__card {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.card__cover {
    width: 100%;
    height: 30rem;
    object-fit: cover; 
    object-position: center; 
    border-radius: 1rem;
}

.card__video-wrapper {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    overflow: hidden; 
    background: #000; 
}

.card__video {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
    display: block;
}


.card__body {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 1rem;
}

.card__description {
    color: var(--title-color);
}

.card__list,
.about__list {
    margin-left: 1.25rem;
}

.card__item,
.about__item {
    list-style: disc;
}

.card__buttons,
.description__buttons {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.card__buttons .btn {
    padding: .65rem 1.25rem;
}

.card__buttons .btn span {
    font-size: 1rem;
}

.card__body .technologies__list {
    gap: .75rem;
    white-space: normal;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.card__body .technologies__item {
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--secondary-border-color);
    border-radius: 50rem;
    aspect-ratio: 1/1;
}

.card__body .technologies__item i {
    font-size: 1.5rem;
    color: var(--primary-color);
}

.card__body .technologies__logo {
    height: 2rem;
    width: auto;
    object-fit: contain;
}

.projects .btn {
    width: auto;
    margin: auto;
}

.about {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.about__content1,
.about__content2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 2rem;
}

.about__photo {
    width: 100%;
    object-fit: cover;
    object-position: center;
    pointer-events: none;
    border-radius: 50rem;
    border: 1px solid var(--primary-border-color);
}

.about__description {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1.5rem;
}

.about__icons {
    display: flex;
    align-items: center;
    gap: .85rem;
}

.about__icons i {
    font-size: 1.25rem;
}

.about__content2 .col1,
.about__content2 .col2 {
    display: flex;
    flex-direction: column;
    text-align: justify;
    gap: 2rem;
}

.about__content2 .col1 .row1,
.about__content2 .col1 .row2 {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    border-top: 1px solid var(--primary-border-color);
    border-bottom: 1px solid var(--primary-border-color);
}

.contact p {
    text-align: center;
}

footer {
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem;
}

footer p {
    font-size: .875rem;
    text-align: center;
    padding: 1rem;
}