
:root, :root[data-theme='dark'] {
  --primary-color: #F0F0F0;

  --primary-bg-color: #111217;
  --secondary-bg-color: #28292E;
  --primary-border-color: #28292E;
  --secondary-border-color: #56575A;

  --title-color: #F0F0F0;
  --text-color: #9A9A9C;
  --link-color: #9A9A9C;
  --icon-color: #C7C8C9;
}

:root[data-theme='light'] {
  --primary-color: #0B0B0F;

  --primary-bg-color: #FAFAFB;
  --secondary-bg-color: #f3f3f4;

  --primary-border-color: #E1E2E5;
  --secondary-border-color: #C9CBD1;

  --title-color: #0B0B0F;
  --text-color: #1F2933;
  --link-color: #1F2933;
  --icon-color: #4B5563;
}

html[data-theme='light'] .brand__logo {
  filter: invert(1);
}

html[data-theme='light'] .technologies__logo {
  filter: invert(80%);
}